




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Float Input Form</title>
</head>
<body>
    <h1>Enter Float Values</h1>
    <form action="{{ url_for('predict') }}" method="POST">
        <label for="x">Enter value for x:</label>
        <input type="number" step="any" id="x" name="x" required>
        <br>
        <label for="y">Enter value for y:</label>
        <input typ e="number" step="any" id="y" name="y" required>
        <br>
        <button type="submit">Submit</button>
    </form>

    <br><br>
    <h4 style="color:Violet;">

{{prediction_text}}
</h4>
</body>
</html>
